body {
	font-family:20px/22px tohoma arial;
	background-color: lightblue;

}

button{
	border-radius:15px;
	font-size:24px;
	padding:5px;
	width:80%;
	height:10%;
	background-color: grey;
	display:block;
	margin:0 10% 0 10%;
}

button:hover{
	background-color:darkgrey;
}

.tweet{
	background-color: beige;
	width:70%;
	border-radius:10px;
	padding:5px;
	border:1px solid black;
	text-align: center;
	display:none;	
}

.tweet.view{
	display:block;
	margin: auto;
}

.tweet.view:hover{
	color:blue;
}