body {
	font-family:20px/22px tohoma arial;
	background-color: lightblue;

}

h1{
	font-family: cursive;
	font-weight: bold;
	width: 100%;
	margin: 0% 50% 0% 0%;
	display:inline-block;
}

button{
	border-radius:15px;
	font-size:24px;
	padding:5px;
	height:10%;
	background-color: grey;
	display:block;
}

button.reveal{
	width:80%;
	margin:0 10% 2% 10%;
}

button.home{
	margin:0% 0% -5% 70%;
	z-index:2;
}

button:hover{
	background-color:darkgrey;
}
.user{
	font-size:15px;
	font-weight:bold;
	background-color: beige;
	padding:0px;
	display: block;
	margin:-1% 80% -2% 0;
	width:15%;
}
.timestamp{
	font-size:10px;
	background-color: beige;
	border-radius:10px;
	padding:0px;
	text-align: right;
	margin:-6px 0 -4px 0;
}

.tweet{
	background-color: beige;
	width:70%;
	border-radius:10px;
	padding:5px;
	border:1px solid black;
	text-align: center;
	display:none;
	margin:auto;	
}

.tweet.view{
}

.user:hover{
	color:blue;
}